<div class="md:grid md:justify-center">                  
  <div class="px-5 p-3 md:p-0 md:px-0 flex flex-rows gap-8 items-center">
    <button class="w-full py-3 hover:from-white hover:to-gray-300 hover:text-black bg-gradient-to-r from-purple-800 to-purple-950 font-bold md:py-3 rounded-3xl text-white md:w-72">
      {{colName}}: Columna {{colNumber}}
    </button>
    <label class="text-white bg-white/10 p-2 w-16 h-10 rounded-3xl">{{formatLabel(startValue)}}</label>
    <label class="text-white bg-white/10 p-2 w-16 h-10 rounded-3xl">{{formatLabel(endValue)}}</label>
  </div> 
</div>